{% load facets i18n %}
{% with facet_name=facet_name|add:"_exact" %}
  <li class="small">
      <!-- Format the display value of date facets slightly differently -->
      <a role="button" class="filter-value" data="{{facet_name}}:{{name}}" data-toggle="tooltip" data-placement="auto" title="{% if facet_is_date %} {{ name|slice:":4" }} {% else %} {{ name|title }} {% endif %}" rel="nofollow">
          <!-- We want selected facets to be bold -->
          {% if name in selected_facet_values|get_item:facet_name %}<strong>{% endif %}
              <!-- Format facets -->
              {% if facet_is_date %}
                  {% with facet_string=name|slice:":4" %}
                    {% trans facet_string %}
                  {% endwith %}
              {% elif facet_is_violation %}
                  {% with facet_string=name|violation|title %}
                    {% trans facet_string %}
                  {% endwith %}
              {% else %}
                  {% with facet_string=name|title|short_title %}
                    {% trans facet_string %}
                  {% endwith %}
              {% endif %}

          {% if name in selected_facet_values|get_item:facet_name %}</strong>{% endif %}
      </a>

      <!-- Only selected facets should have a "remove" button -->
    	{% if name in selected_facet_values|get_item:facet_name %}
        	<a role="button" class="remove-filter-value" data="{{facet_name}}:{{name}}" rel="nofollow">
        	   <i class="fa fa-times"></i>
        	</a>
    	{% endif %}

      <span class="badge badge-facet pull-right">{{ count }}</span>
  </li>
{% endwith %}
