{% extends "pages/base_page.html" %}
{% load i18n %}
{% load static %}
{% block extra_content %}

{% for country in countries %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default" style="min-height:150px">
            <div class="panel-heading">
                <h3><strong>{{ country.name }}</strong></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <img class="img img-responsive img-thumbnail map-thumbnail center-block" src="{{ country.image.url }}"></img>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <h4><strong><i class="fa fa-fw fa-search"></i> Browse data</strong></h4>
                                <a href="{% url 'search' %}?entity_type=Person"><p>Browse <strong>{{ country.num_persons }}</strong> persons</p></a>
                                <a href="{% url 'search' %}?entity_type=Organization"><<p>Browse <strong>{{ country.num_units }}</strong> units</p></a>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                            {% if country.first_link or country.second_link or country.third_link %}
                                <h4><strong><i class="fa fa-fw fa-clock-o"></i> Browse historical events</strong></h4>
                                {% if country.first_link %}
                                    <a href="{{ country.first_link.href }}"><p>{{ country.first_link.title }}</p></a>
                                {% endif %}
                                {% if country.second_link %}
                                    <a href="{{ country.second_link.href }}"><p>{{ country.second_link.title }}</p></a>
                                {% endif %}
                                {% if country.third_link %}
                                    <a href="{{ country.third_link.href }}"><p>{{ country.third_link.title }}</p></a>
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4><strong><i class="fa fa-fw fa-info-circle"></i> Background</strong></h4>
                                <p>{{ country.background|safe|truncatewords:"50"|linebreaks }}</p>
                                <a href="#"><p>Read full background <i class="fa fa-fw fa-arrow-right"></i></p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
